[Desktop Entry]
Name=Flatpak Developer Demo
GenericName=Flatpak Developer Demo
Comment=Flatpak developer demo is a companion application to the <a href="http://docs.flatpak.org">Flatpak documentation</a>. It's written in Qt to show most common usage of portals and demonstrate how to package a Qt application which comply with the docs.
Exec=flatpak-demo
Terminal=false
Icon=org.flatpak.qtdemo
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE
