[Desktop Entry]
Name=Flatpak Demo
GenericName=Flatpak Demo
Comment=Flatpak demo application
Exec=flatpak-demo
Terminal=false
Icon=org.flatpak.demo
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE
