[Desktop Entry]
Name=Flatpak Developer Demo
GenericName=Flatpak Developer Demo
Comment=Flatpak developer demo application is a companion to the Flatpak developer documentation. It is an example of how to use Flatpak to build and distribute an application, and can be used as a reference implementation.
Exec=flatpak-demo
Terminal=false
Icon=org.flatpak.qtdemo
Type=Application
X-KDE-PluginInfo-Website=http://flatpak.org
Categories=Qt;KDE
